{% extends 'layout.html' %}

{% block content %}
  <div id="content" style="background: url('/image/background.png') center center no-repeat; height:560px; background-size: cover;">
      <div style="margin-top:150px; font-size: 80px; font-weight: bold;">SCHIDA,<br>스터디에 미치다.</div>
      <a href="/start"><button id="startLink" style="background-color: #000000; border: none; color: white; padding: 10px 20px; font-size: 50px; font-weight: bold; border-radius: 20px; margin-top: 20px; cursor: pointer;">시작하기</button></a>
  </div>
  <div>
{% endblock %}